/* components/Todo.module.css */

.container {
  display: flex;
  padding: 0.5rem;
  border-radius: 20px;
  // justify-content: flex-start;
}

.todo {
  margin-bottom: 0.2rem;
  padding: 0.5rem;
  border-radius: 10px;
}

.todo_label{
  @apply text-rosePine-text;
  @apply text-center;
  @apply m-1;
  @apply w-64;
  @apply text-center;
  @apply rounded-lg;

}

.checkbox {
  margin-right: 8px;
  padding-right: 10px;
  margin-left: 15px;
  padding-left: 10px;
}

.description {
  color: #6e6a86;
  position: absolute;
  text-wrap: nowrap;
  opacity: 0;
  transition: opacity 1s ease-out;
  pointer-events: none;
  margin-left: 0.5rem;
}

.todo_label:hover+.description {
  transition: opacity 1s ease-in;
  opacity: 1;
}

.completed {
  text-decoration: line-through;
  @apply text-rosePine-muted;
  transition: text-decoration 1s ease-out;
  transition: color 0.5s ease-out;
}



